{% extends "pages/base.html" %}
{% block content %}
{% include "widgets/jobstatus.html" %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <i class="fa fa-plus"></i>
        <h3 class="box-title">Add New Department</h3>
        {% include "widgets/helpbutton.html" with box=0 %}
      </div><!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" id="addform" method="post" action="{% url 'departsadd' %}">
        {% csrf_token %}
        <div class="box-body">
          {{ form.name }}
          {{ form.descr }}
          {{ form.shortname }}
          <div id="{{ form.color.id_for_label }}-group" class="form-group">
            <label for="{{ form.color.id_for_label }}" class="col-sm-2 control-label">{{ form.color.label }}</label>
            <div class="col-sm-10">
              <div class="input-group">
              {{ form.color }}
                <span class="input-group-addon"><i class="fa fa-tags"></i></span>
              </div>
            </div>
          </div><!-- /.form-group -->
        </div><!-- /.box-body -->
        <div class="box-footer">
          <div class="row">
           <div class="col-lg-12">
              <button type="submit" value="1" class="btn btn-app" name="add"><i class="glyphicon glyphicon-plus"></i>Add</button>
              <button type="submit" value="1" class="btn btn-app cancel" name="cancel"><i class="glyphicon glyphicon-remove-circle"></i>Cancel</button>
           </div>
          </div>
        </div>
      </form>
    </div><!-- /.box -->
  </div>
</div>
{% endblock %}
{% block pagejs %}
  {% include "departments/add.js" %}
{% endblock %}
