[%#
<div class="box box-default">...</div>
<div class="box box-primary">...</div>
<div class="box box-info">...</div>
<div class="box box-warning">...</div>
<div class="box box-success">...</div>
<div class="box box-danger">...</div>

<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

<p class="bg-primary">...</p>
<p class="bg-success">...</p>
<p class="bg-info">...</p>
<p class="bg-warning">...</p>
<p class="bg-danger">...</p>
%]

[%# job status constants %]
[% jobstatus_running_bgcolor = 'bg-aqua' %]
[% jobstatus_queued_bgcolor = 'bg-orange' %]
[% jobstatus_finished_bgcolor = 'bg-green' %]
[% jobstatus_error_bgcolor = 'bg-red' %]
[% jobstatus_warning_bgcolor = 'bg-yellow' %]














