<!-- Backup system menu -->
<li class="treeview {% if apppath.0 == 'Help' %}active{% endif %}">
  <a href="#"><i class="fa fa-life-ring"></i> <span>Help</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
  <ul class="treeview-menu">
{% if baculadocs %}
    <li>
      <a target=”_blank” href="/docs/"><i class="fa fa-book"></i> <span>Documentation</span></a>
    </li>
{% endif %}
    <li>
      <a href="#" data-toggle="modal" data-target="#aboutmodal"><i class="fa fa-info-circle"></i> <span>About</span></a>
    </li>
  </ul>
</li>
