{% extends "pages/base.html" %}

{% block contentwidget %}
{% include "widgets/jobstatus.html" %}
{% endblock %}

{% block content %}
<div class="row">
{% if not Section1 and not Section2 %}
  <div class="col-lg-6 col-xs-12 col-lg-offset-3">
    <div class="callout callout-info">
      <h4>No Widgets enabled.</h4>
      <p>You have disabled all widgets in your <a href="{% url 'usersprofile' %}">profile</a>.
        If you want to display some of them here in Dashboard you should enable it.</p>
    </div>
  </div>
{% else %}
  <section id="col1" class="col-lg-7 col-md-6 col-sm-12 connectedSortable">
  {% for w in Section1 %}
  {% include w.widget.template with id=w.widget.widgetid title=w.widget.name icon=w.widget.icon height=w.widget.height %}
  {% endfor %}
  </section><!-- /.col -->

  <section id="col2" class="col-lg-5 col-md-6 col-sm-12 connectedSortable">
  {% for w in Section2 %}
  {% include w.widget.template with id=w.widget.widgetid title=w.widget.name icon=w.widget.icon height=w.widget.height %}
  {% endfor %}
  </section><!-- /.col -->
{% endif %}
</div><!-- /.row -->
{% endblock %}

{% block pagejs %}
  {% include "pages/index.js" %}
{% endblock %}
