<div id="canceljobconfirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cancel backup JobId: <b></b> (<i></i>)</h4>
      </div>
      <div class="modal-body">Are you absoluteley sure that you want to cancel a backup JobId: <u></u> (<i></i>)?<br>
        <b>You cannot recover from a canceled job!</b> Think about it. Consider using Stop instead.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No! Back!</button>
        <button id="canceljobconfirmbutton" type="button" class="btn btn-danger confirm" data-loading-text="Canceling...">Yes, I'm sure. Cancel!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->