<div id="departdeleteconfirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Department "<i></i>"</h4>
      </div>
      <div class="modal-body">Are you absolutely sure that you want to delete a Department "<u></u>"?
        It will remove all users and all resources from this department, it does not delete either users or resources
          associated with this Department. Users or resources without Departments will fall into "no-departments" set
          and can see all resources without Departments.
        <b>Operation cannot be undone!</b></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No! Back!</button>
        <button id="departdeleteconfirmbutton" type="button" class="btn btn-danger confirm" data-loading-text="Deleting...">Yes, I'm sure. Delete!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
