<div id="errorprocesingajax" class="modal modal-danger fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-ban"></i> Processing Error!</h4>
      </div>
      <div class="modal-body">
        <p>
          It seems that something went wrong this time and we have error on processing your request.
          You should check "Status" and "Error info" below to verify what is going on. It could be a permission problem
          or even an application problem. In this case you can contact
          <a href="https://inteos.freshservice.com/support/solutions/articles/31149" class="text-white"><u>Inteos support</u></a>
          on this issue.
        </p>
        <ul>
          <li>Status: <i></i></li>
          <li>Error info: <b></b></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Dismiss</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->