  <div class="col-lg-5 col-md-6 col-xs-12">
    {% if FSData.Include %}
    <p><span class="label label-success">Include</span></p>
    <ul class="row">
    {% for i in FSData.Include %}
      {% if FSData.Include|length > 6 %}
    <li class="col-xs-6">{{ i.value }}</li>
      {% else %}
    <li class="col-xs-12">{{ i.value }}</li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}

    {% if FSData.FS %}
    <p><span class="label label-success">Data to backup</span></p>
    <ul class="row">
    {% for d in FSData.FS %}
      <li class="col-xs-12"><i class="{{ d.icon }}"></i> {{ d.text }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if FSData.VMS %}
    <p><span class="label label-success">Guest VM to backup</span></p>
    <ul class="row">
    {% for vm in FSData.VMS %}
      <li class="col-xs-12"><i class="fa {{ FSData.VMSicon }}"></i> {{ vm }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>

  {% if FSData.Exclude %}
  <div class="col-lg-5 col-md-6 col-xs-12">
    <p><span class="label label-warning">Exclude</span></p>
    <ul class="row">
      {% for e in FSData.Exclude %}
        {% if FSData.Exclude|length > 5 %}
      <li class="col-xs-6">{{ e.value }}</li>
        {% else %}
      <li class="col-xs-12">{{ e.value }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
