<div id="labelconfirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Label all unused tapes in "<i></i>"</h4>
      </div>
      <div class="modal-body"><i class="fa fa-info-circle"></i>
        This is to label all unused tapes in selected tape library: <u></u> and put them into a Scratch pool. You have to label tapes before you can use them.
        The label operation will be performed on the first available tape drive. Are you absolutely sure that you want to label them all?
        This operation will take some time and will be performed in the background.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No! Back!</button>
        <button id="labelconfirmbutton" type="button" class="btn btn-success confirm" data-loading-text="Labeling...">Yes, I'm sure. Label!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="labelconfirmprogress" class="modal fade" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please Wait ...</h4>
      </div>
      <div class="modal-body">
        <p>Labeling tapes. You can wait here until a task will finish or verify a task opertions at Tasks menu.</p>
        <div class="progress active">
          <div id="taskprogress" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK. Thanks.</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->