<div id="roledeleteconfirm" class="modal modal-danger fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete the Role "<i></i>"</h4>
      </div>
      <div class="modal-body">Do you want to permanently delete the Role "<u></u>"?
        Every user which has this Role will lost all permissions granted by the Role. <b>Operation cannot be undone!</b></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No! Not yet!</button>
        <button id="roledeleteconfirmbutton" type="button" class="btn btn-success confirm" data-loading-text="Deleting...">Yes, Delete the Role!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
