<div id="userunlockconfirm" class="modal modal-success fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Activate the User "<i></i>"</h4>
      </div>
      <div class="modal-body">Do you want to activate again the User "<u></u>"? He will be able to Login again to IBAdmin application.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No! Not yet!</button>
        <button id="userunlockconfirmbutton" type="button" class="btn btn-warning confirm" data-loading-text="Activating...">Yes, Activate the User!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
