<div id="userdeleteconfirm" class="modal modal-danger fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete the User "<i></i>"</h4>
      </div>
      <div class="modal-body">Do you want to permanently delete the User "<u></u>"? He will not be able to Login to IBAdmin application and he will lost all his profile.
        Consider <b>suspending</b> the user. In this case you will block access to application but all User profile remain and you could activate it later when required.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No! Not yet!</button>
        <button id="userdeleteconfirmbutton" type="button" class="btn btn-success confirm" data-loading-text="Deleting...">Yes, Delete the User!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
