{% load ibadtexts %}
{% load ibadcolors %}
{% if vmstatusbox != 1 %}
<div class="row">
  <div class="col-xs-12">
{% else %}
  <div class="col-xs-6">
{% endif %}
    <!-- jQuery Knob -->
    <div class="box box-solid{% if vmstatusvis == 0 %} collapsed-box{% endif %}"><!-- collapsed-box -->
      <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h1 class="box-title">VM Hosts in Numbers</h1><!-- <h1 class="box-title">OS in Percent</h1> -->
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa {% if vmstatusvis == 0 %}fa-plus{% else %}fa-minus{% endif %}"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          {% for o in VMstatuslist %}
          {% if vmstatusbox == 1 %}
          <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 text-center">
          {% else %}
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
          {% endif %}
            <input type="text" disabled class="knob" value="{{ o.Nr }}" data-max="{{ allvmshostsnr }}" data-width="80" data-height="75" data-angleOffset="{{ o.Offset }}"
                data-inputColor="#000" data-fgColor="{{ o.VM|OSfgcolor }}">
            <div class="knob-label">{{ o.VM|OStext }}</div>
          </div><!-- ./col -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% if osstatusbox != 1 %}
</div>
{% endif %}
