<div id="volusedconfirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Closing the Volume "<i></i>"</h4>
      </div>
      <div class="modal-body">Do you want to close the Volume "<u></u>"? It will start the retention time. From now backups will goes to other volumes.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No! Not yet!</button>
        <button id="volusedconfirmbutton" type="button" class="btn btn-success confirm" data-loading-text="Updating...">Yes, Close the volume!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
