{% load staticfiles %}
<h4>New Cluster Node Backup Client</h4>
<p>Here you can define a new cluster node backup client. Cluster node backup client is a Bacula File Daemon which shares
    some properties across all nodes in the cluster. You should add all nodes of your cluster to avoid any problems.
    All cluster node clients share the same access credentials allowing a Cluster service client to access any of
    the cluster node backup agents. It will simplify the cluster operations. To define a new cluster node backup client
    you have to input its name which should be unique in the system (you will get an error if it is not),
    description (optional), address which could be an IP or DNS name (if application cannot resolve DNS name you cannot
    add this client), select a server OS from a list, define a new cluster name or select an existing cluster name from
    the list and its department. Then optionally check for creating a default backup Job for this client.</p>
<dl>
    <dt>Client name</dt><dd>name of your new backup client. It has to be unique in your system.</dd>
    <dt>Description</dt><dd>any description of your backup client.</dd>
    <dt>New Cluster name</dt><dd>name of the new cluster component for a node client. It has to be unique in your system.</dd>
    <dt>Existing Cluster</dt><dd>name of the existing cluster component for a node client.</dd>
    <dt>Address</dt><dd>IP address or FQDN of your backup client. It has to be a valid (resolved) address.</dd>
    <dt>OS</dt><dd>an OS type of the defined client.</dd>
    <dt>Department</dt><dd>department name for the client.</dd>
    <dt>Create default backup Job</dt><dd>when checked a defaut Job for the Client will be created together with a Client.</dd>
</dl>
<p><i class="fa fa-info-circle text-aqua"></i> Default Job will have the name <i>&lt;client_name&gt;-DefaultJob.</i></p>
