{% load staticfiles %}
<h4>New Backup Client Alias</h4>
<p>Here you can define a new backup client Alias. Backup client Alias is like a symbolic link or CNAME which points to standard Backup Client.</p>
<p><b>Alias name</b> - name of your new backup client - Alias. It has to be unique in your system.</p>
<p><b>Description</b> - any description of your backup client.</p>
<p><b>Alias to</b> - name of the existing Backup Client (standalone or cluster node) to point to.</p>
<p><b>Create default backup Job</b> - when checked a defaut Job for the Client will be created together with a Client.</p>
<p><i class="fa fa-info-circle text-aqua"></i> Default Job will have the name <i>&lt;client_name&gt;-DefaultJob.</i></p>