{% load staticfiles %}
<h4><span class="label label-danger">Error Jobs</span></h4>
<p>Here you can view all your finshed with error backup jobs. Listed here are all unsuccessful finished jobs which means you cannot use it for restore.</p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display details and log information about selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-restartb2.png' %}"> Restart selected JobId for another run.</p>
<p><img src="{% static 'help/images/ibadmin-deleteb2.png' %}"> Delete selected JobId.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>
