{% load staticfiles %}
<h4><span class="label bg-gray">Last Jobs</span></h4>
<p>Here you can view all your finished backup jobs without any filter. All terminate job statuses are visible here.</p>
<p>You can always refresh the view using Refresh button - <img src="{% static 'help/images/ibadmin-refreshb1.png' %}"></p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display details and log information about selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-restoreb1.png' %}"> Make restore of selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-restartb2.png' %}"> Restart selected <span class="label bg-teal">Incomplete</span> Job for another run.</p>
<p><img src="{% static 'help/images/ibadmin-deleteb2.png' %}"> Delete selected JobId.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>
