{% load staticfiles %}
<h4>Files Job Advanced</h4>
<p>Here you can edit advanced properities of files backup job.</p>
<p><b>Run Before Job</b> - the command which is executed on Client before backup job. Full path expected.</p>
<p><b>Run After Job</b> - the command which is executed on Client after a backup job finishes. Full path expected.</p>
<p><b>Job enabled</b> - you can enable (on) or disable (off) the job execution.</p>
<p><b>Client deduplication</b> - when enabled (on) deduplication job is performed on Client, when disabled (off) deduplication job is performed on Storage only.</p>