{% load staticfiles %}
<h4>Admin Job Advanced</h4>
<p>Here you can edit advanced properities of SYS-Admin job.</p>
<p><b>Start Backup Time</b> - you can change when a job will be executed. It is running every day.</p>
<p><b>Job enabled</b> - you can disable (off) or enable again (on) the SYS-Admin job execution.</p>
<p><i class="fa fa-info-circle text-danger"></i> Disabling a SYS-Admin job is not a good idea. You should consult this with <a href="https://inteos.freshservice.com/">Inteos support</a> unless you know what you are doing.</p>