{% load staticfiles %}
<h4><span class="label bg-orange">Queued Jobs</span></h4>
<p>Here you can view all your currently queued backup jobs. Jobs are queued as until they get free slot on all components (Dir, FD, SD).</p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display details and log information about selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-cancelb1.png' %}"> Cancel a selected JobId. Job will be unsuccessful.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>