{% load staticfiles %}
<h4>Job Info</h4>
<p>Here you can view all details and manage your job.</p>
<p><span class="label label-success">Include</span>, <span class="label label-warning">Exclude</span>, <span class="label label-success">Data to backup</span> are an information of the data your job backup.</p>
<p><span class="label bg-maroon"><i class="fa fa-cubes"></i> Client deduplication</span> when your job makes deduplication on Client.</p>
<p>You can Run <img src="{% static 'help/images/ibadmin-runb2.png' %}">, Restore <img src="{% static 'help/images/ibadmin-restoreb1.png' %}">,
Edit <img src="{% static 'help/images/ibadmin-editb1.png' %}"> and Delete <img src="{% static 'help/images/ibadmin-deleteb1.png' %}"> the Job.</p>
<p><i class="fa fa-info-circle text-aqua"></i> You cannot delete a Job if it is running.</p>
<p>Use <img src="{% static 'help/images/ibadmin-statsb1.png' %}"> to view a Statistics of the Job and
    <img src="{% static 'help/images/ibadmin-advancedb1.png' %}"> to change an advanced properities od the Job.</p>
<p><i class="fa fa-info-circle text-aqua"></i> Not all management actions are available for System Jobs - <i>Restore</i>, <i>SYS-Admin</i> or <i>SYS-Backup-Catalog</i>.</p>
<p><b>Job History</b> - information of the execution of this Job.</p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display details and log information about selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-restoreb1.png' %}"> Make restore of selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-deleteb2.png' %}"> Delete selected JobId.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>