{% load staticfiles %}
<h4>Edit Files Job</h4>
<p>Here you can edit already defined backup job for files backup.</p>
<p><b>Job name</b> - name of the job you edit.</p>
<p><b>Description</b> - any description of your job.</p>
<p><b>Backup Retention</b> - a time how long job will be preserved after backup.</p>
<p><b>Backup Storage</b> - where your job will stored.</p>
<p><b>Backup Client</b> - where your job will executed.</p>
<p><b>Files to Backup</b> - what files/folders you need to backup.</p>
<p><b>Exclude from Backup</b> - what files/folders you want to exclude from backup.</p>
<p><b>Backup Schedule</b> - defines a backup cycle.</p>
<p><b>Start Backup Time</b> - when your job should start.</p>
<p><b>Backup Repeat</b> - how many times your backup will run during a day.</p>
<p><b>Backup Level</b> - level of your backup job.</p>
<p><b>Days of Week</b> - what level is required on any day of the week.</p>
<p><b>Days of Month</b> - what level is required on any day of the month.</p>
<p><i class="fa fa-info-circle text-aqua"></i> <span class="label label-default">Everyday</span> - forces a selected level on every day of the week or month.</p>