{% load staticfiles %}
<h4><span class="label label-warning">Warning Jobs</span></h4>
<p>Here you can view all your finished backup jobs which encountered some minor problems. All problems and errors are warnings so you can restore data without problem.</p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display details and log information about selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-restoreb1.png' %}"> Make restore of selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-restartb2.png' %}"> Restart selected <span class="label bg-teal">Incomplete</span> Job for another run.</p>
<p><img src="{% static 'help/images/ibadmin-deleteb2.png' %}"> Delete selected JobId.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>