{% load staticfiles %}
<h4>Storage Info</h4>
<p>Here you can view all details and manage your Storage.</p>
<p>You can Check online Status <img src="{% static 'help/images/ibadmin-statusb1.png' %}">, Edit <img src="{% static 'help/images/ibadmin-editb2.png' %}">
    or Display detailed information about Deduplication Engine <img src="{% static 'help/images/ibadmin-dedupengineb1.png' %}"> of your Storage.</p>
<p><i class="fa fa-info-circle text-aqua"></i> Deduplication Engine status is available for deduplication enabled storage only.</p>
<p><b>Jobs History</b> - information of the history jobs running on this storage.</p>
<p>You can always refresh the view using Refresh button (<img src="{% static 'help/images/ibadmin-refreshb1.png' %}">).</p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display details and log information about selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-restoreb1.png' %}"> Make restore of selected JobId.</p>
<p><img src="{% static 'help/images/ibadmin-deleteb2.png' %}"> Delete selected JobId.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>