{% load staticfiles %}
<h4>Defined Storage</h4>
<p>Here you can view all your defined Storage. You can verify a Media Type, location of the storage archives or avaliability Status.</p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display detailed information about any selected Storage.</p>
<p><img src="{% static 'help/images/ibadmin-editb1.png' %}"> Edit selected Storage.</p>
<p><img src="{% static 'help/images/ibadmin-deleteb2.png' %}"> Delete selected Storage - <i>planned</i>.</p>
<p><img src="{% static 'help/images/ibadmin-newstorageb1.png' %}"> Add a New Disk Storage.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>