{% load staticfiles %}
<h4>Add New Tape Storage</h4>
<p>Here you can define a new tape library based backup storage.</p>
<p><b>Storage name</b> - name of your new backup storage. It has to be unique in your system.</p>
<p><b>Description</b> - any description of your backup storage.</p>
<p><b>Existing Storage</b> - select already defined storage - Bacula Storage Daemon.</p>
<p><b>Available Libraries</b> - select a tape library you want to add.</p>
<p><i class="fa fa-info-circle text-aqua"></i> Before you can add the selected tape library IBAdmin has to detect its configuration. This can take some time and the detection progress will be shown here.</p>
<p><b>Departments</b> - departments name for the storage; you can select multiple departments.</p>
<p><i class="fa fa-info-circle text-yellow"></i> When you add a new storage you need to restart Storage Daemon manually for fully use of this storage.</p>
<p><i class="fa fa-info-circle"></i> You have to label tapes in new library before you can use them for backup jobs.</p>
