{% load staticfiles %}
<h4>Edit Deduplication Storage</h4>
<p>Here you can edit disk based deduplication backup storage. It is an extended file based storage available in Bacula Enterprise and Inteos Backup.</p>
<p><b>Storage name</b> - name of your backup storage you edit.</p>
<p><b>Description</b> - any description of your backup storage.</p>
<p><b>Dedup index directory</b> - location for the deduplication index database. It should be located on fast storage (i.e. SSD) for best performance.</p>
<p><b>Dedup engine directory</b> - location for the deduplication data containers and Volumes archive. All backups data will be stored in this location.</p>
<p><b>Departments</b> - departments name for the storage; you can select multiple departments.</p>
<p><i class="fa fa-info-circle text-danger"></i> If you change any of Dedup index directory or Dedup engine directory locations you have to move all data from old location to new location unless you will be unable to make any new backup or restore.
    It requires a manual Storage Daemon restart for fully use of this storage. If doubt please consult it with <a href="https://inteos.freshservice.com/">Inteos support</a> unless you know what you are doing.</p>
