{% load staticfiles %}
<h4>Add New Disk Storage</h4>
<p>Here you can define a new disk based backup storage. It is a standard file based storage.</p>
<p><b>Storage name</b> - name of your new backup storage. It has to be unique in your system.</p>
<p><b>Description</b> - any description of your backup storage.</p>
<p><b>Existing Storage</b> - select already defined storage - Bacula Storage Daemon.</p>
<p><b>Archive directory</b> - location for the Volumes archive. All backups will be stored in this location.</p>
<p><i class="fa fa-info-circle text-aqua"></i> Archive directory location must exist on local storage and has to be writable by bacula user. You can't make successful backup if Storage will be unable to write to this location.</p>
<p><b>Departments</b> - departments name for the storage; you can select multiple departments.</p>
<p><i class="fa fa-info-circle text-yellow"></i> When you add a new storage you need to restart Storage Daemon manually for fully use of this storage.</p>
