{% load staticfiles %}
<h4>Volumes List</h4>
<p>Here you can view a list of all your archive Volumes. You can verify a Retention, Media Type, Size and Status of your Volumes. You can manage eny Volume also.</p>
<p>You can always refresh the view using Refresh button - <img src="{% static 'help/images/ibadmin-refreshb1.png' %}"></p>
<p><img src="{% static 'help/images/ibadmin-infob1.png' %}"> Display detailed information about any selected Volume.</p>
<p><img src="{% static 'help/images/ibadmin-lockb1.png' %}"> Close - change status to <span class="badge bg-aqua">Used</span> - a selected Volume.</p>
<p><img src="{% static 'help/images/ibadmin-unlockb1.png' %}"> Open - change status to <span class="badge bg-green">Append</span> - a selected Volume.</p>
<p><img src="{% static 'help/images/ibadmin-recycleb1.png' %}"> Recycle - change status to <span class="badge bg-yellow">Purged</span> - a selected Volume.</p>
<p><img src="{% static 'help/images/ibadmin-deleteb2.png' %}"> Delete selected Volume.</p>
<p>You can search or sort the list to find or check what you are looking for.</p>
<p><i class="fa fa-info-circle text-aqua"></i> Deleteing a volume from application does not delete it from Storage, you need to delete it manually.</p>
