  <div class="panel box box-default">
    <div class="box-header with-border">
      <i class="fa fa-history"></i>
      <h4 class="box-title"> Job History <small>select Job above to display history</small><!-- <a data-toggle="collapse" data-parent="#accordion" href="#Two"> </a> --></h4>
      <div class="pull-right box-tools">
        <button id="listrefresh" type="button" disabled class="btn btn-box-tool disabled" data-toggle="tooltip" data-original-title="Refresh">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div id="Two" class="panel-collapse collapse"><!-- in -->
      <div id="jobhistorydiv" class="box-body"></div>
    </div>
  </div><!-- panel -->