{% load ibadtexts %}
{% load ibadcolors %}
        <div id="Three" class="panel-collapse collapse in">
          <div class="box-body">
{% if Jobids != 'unavl' %}
            <div class="col-xs-12">
              <div class="well well-sm">
                <div class="treecontainer">
                  <div id="jstreediv"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div id="jobidslist">
                <dl class="dl-horizontal">
                  <dt>JobIds involved:</dt>
                  <dd>
                    {% for j in Jobidsparams %}
                    <span class="label {{ j.level|joblevelbgcolor:'B' }}">{{ j.jobid }}</span>
                    {% endfor %}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="col-xs-12">
              <form class="form-horizontal" id="restoreform" method="post" style="margin-top: 12px;">
                {% csrf_token %}
                {{ form.rselected }}
                {{ form.client }}
                {{ form.where }}
                {% include 'widgets/restoreclientform.html' %}
                {% include 'widgets/restorereplaceform.html' %}
                {{ form.comment }}
              </form>
              {% include 'widgets/restorebuttonform.html' %}
            </div>
{% else %}
            <div class="col-xs-12">
              <div class="well well-sm">
                <p><i class="fa fa-calendar-times-o"></i> No data available.</p>
                It means that the Job: {{ Job.Name }} does not backup any data up to this JobId: {{ Job.JobId }}.
                Select different Job or JobId, please.
              </div>
            </div>
{% endif %}
          </div>
        </div>
