{% extends "pages/base.html" %}
{% load ibadtexts %}
{% load ibadcolors %}
{% block content %}
{% include "widgets/jobstatus.html" %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-success">
      <div class="box-header">
        <i class="fa fa-plus"></i>
        <h3 class="box-title">Edit Disk Storage</h3>
        {% include "widgets/helpbutton.html" with box=0 %}
      </div><!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" id="addform" method="post" action="{% url 'storageeditdisk' form.name.value %}">
        {% csrf_token %}
        <div class="box-body">
          {{ form.name }}
          {{ form.descr }}
          {{ form.address }}
          <div id="{{ form.storagelist.id_for_label }}-group" class="form-group">
            <label for="{{ form.storagelist.id_for_label }}" class="col-sm-2 control-label">{{ form.storagelist.label }}</label>
            <div class="col-sm-10">
              <div class="input-group">
              {{ form.storagelist }}
                <span class="input-group-addon"><i id="{{ form.storagelist.id_for_label }}icon" class="fa fa-database"></i></span>
              </div>
            </div>
          </div><!-- /.form-group -->
          {{ form.archivedir }}
        </div><!-- /.box-body -->
        <div class="box-footer">
          <div class="row">
           <div class="col-lg-12">
              <button type="submit" value="1" class="btn btn-app" name="save"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
              <button type="submit" value="1" class="btn btn-app cancel" name="cancel"><i class="glyphicon glyphicon-remove-circle"></i>Cancel</button>
           </div>
          </div>
        </div>
      </form>
    </div><!-- /.box -->
  </div>
</div>
<div id="archdirconfirm" class="modal fade" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="archdirconfirmbuttonx" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Archive Directory change</h4>
      </div>
      <div class="modal-body">You are about to change a current Archive directory for your Storage.<br>
        <i class="fa fa-warning text-yellow"></i> <b>If you've made backups on this Storage you need to move your existing volumes
        to this new directory else your current backups will be unavailable</b>.<br>
        You need to have a very serious cause to change your existing archive directory. I hope you know what you are
        doing and if something goes wrong don't blame me.<br>
        <p class="text-primary">It is required to restart Storage Service to make this change a real effect.</p>
      </div>
      <div class="modal-footer">
        <button id="archdirconfirmbutton" type="button" class="btn btn-success pull-left">No! Back!</button>
        <button id="archdirconfirmbuttonyes" type="button" class="btn btn-danger" data-dismiss="modal">Yes, I'm sure what I'm doing. Change!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block pagejs %}
  {% include "storage/editdisk.js" %}
{% endblock %}
