{% extends "pages/base.html" %}
{% load ibadtexts %}
{% load ibadcolors %}

{% block contentwidget %}
{% include "widgets/jobstatus.html" %}
{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-header">
    <i class="fa {{ Storage.MediaType|mediaicon }}"></i>
    <h4 class="box-title">Storage Info</h4>
    {% include "widgets/helpbutton.html" with box=0 %}
  </div><!-- /.box-header -->
  <div class="box-body no-padding">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Storage Name</th>
          <th>Storage Address</th>
          <th class="text-center">Media Type</th>
          {% if Storage.Alias %}
            <th class="text-center">Alias</th>
          {% else %}
            {% if Storage.MType == 'Tape' %}
              <th>Device</th>
            {% else %}
              <th>Directory</th>
              {% if Storage.MType == 'Dedu' %}
                <th>Index</th>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if Storage.Departments %}
            <th class="text-center">Departments</th>
          {% endif %}
          <th>Description</th>
          <th class="text-center">Status</th>
        </tr>
        <tr>
          <td>{{ Storage.Name }}</td>
          <td>{{ Storage.Address }}</td>
          <td class="vertical-align text-center storage-media-type"><span class="badge {{ Storage.MediaType|mediacolor }}">
            <i class="fa {{ Storage.MediaType|mediaicon }}"></i></span>{{ Storage.MediaType }}</td>
          {% if Storage.Alias %}
            <td class="vertical-align text-center"><i class="fa fa-external-link-square"></i> {{ Storage.Alias }}</td>
          {% else %}
            <td>{{ Storage.StorageDirDevice }}</td>
            {% if Storage.MType == 'Dedu' %}
              <td>{{ Storage.StorageDirDedupidx }}</td>
            {% endif %}
          {% endif %}
          {% if Storage.Departments %}
            <td class="text-center">
              {% for dept in Storage.Departments %}
                <span class="label {{ dept.color|default:'bg-blue' }}">{{ dept.name }}</span>
              {% endfor %}
            </td>
          {% endif %}
          <td>{{ Storage.Descr }}</td>
          <td class="text-center" style="width: 100px"><span class="label {{ Storage.Status|statusbgcolor }}">{{ Storage.Status|statustext }}</span></td>
        </tr>
      </table>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-10 center-block">
{% if perms.storages.status_storages %}
        <a class="btn btn-app" href="{% url 'storagestatus' Storage.Name %}"><i class="fa fa-external-link"></i>Status</a>
{% endif %}
        {% if Storage.MType == 'Dedu' %}
{% if perms.storages.dedup_vacuum %}
        <a class="btn btn-app disabled" data-toggle="modal" data-target="#dedupvacuum" data-name="{{ Storage.Name }}"><i class="fa fa-magic"></i>Vacuum</a>
{% endif %}
{% if perms.storages.view_dedup %}
        <a class="btn btn-app" href="{% url 'storagededup' Storage.Name %}"><i class="fa fa-cubes"></i>Dedup Engine</a>
{% endif %}
        {% endif %}
{% if Storage.Alias or user.is_superuser and user.is_staff %}
  {% if perms.storages.change_storages %}
        <a class="btn btn-app" href="{% url 'storageedit' Storage.Name %}"><i class="fa fa-edit"></i>Edit</a>
  {% endif %}
{% endif %}
{% if user.is_superuser and user.is_staff %}
        {% if Storage.InternalStorage != 'Yes' %}
        <a class="btn btn-app disabled" data-toggle="modal" data-target="#deleteconfirm" data-name="{{ Storage.Name }}"><i class="fa fa-trash"></i>Delete</a>
        {% endif %}
        {% if Storage.MType == 'Tape' %}
        <a class="btn btn-app" data-toggle="modal" data-target="#labelconfirm" data-name="{{ Storage.StorageDirDevice }}" data-url="{% url 'storagelabel' Storage.Name %}"><i class="fa fa-tags"></i>Label tapes</a>
        {% endif %}
        <!--<a class="btn btn-app"><i class="fa fa-bar-chart"></i>Statistics</a>-->
        <a class="btn btn-app disabled"><i class="fa fa-cogs"></i>Advanced</a>
{% endif %}
      </div>
    </div>
{% if perms.jobs.view_jobs %}
    <div class="box-group" id="storageinfo">
      <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
      <div class="panel box box-primary">
        <div class="box-header with-border">
          <h4 class="box-title">
            <i class="fa fa-history"></i>
            <a data-toggle="collapse" data-parent="#accordion" href="#One">Jobs History</a>
          </h4>
          {% include "widgets/refreshbutton.html" %}
        </div>
        <div id="One" class="panel-collapse collapse in"><!-- in -->
          <div class="box-body">
            <table id="jobshistory" class="table table-bordered table-striped table-hover">
              <thead>
              {% include "storage/storage.legend.html" %}
              </thead>
              <tfoot>
              {% include "storage/storage.legend.html" %}
              </tfoot>
            </table>
          </div>
        </div>
      </div><!-- panel -->
    </div>
{% endif %}
  </div><!-- /.box-body -->
</div><!-- /.box -->
{% if perms.jobs.view_jobs %}
{% include "widgets/cancelconfirm.html" %}
{% include "widgets/stopconfirm.html" %}
{% include "widgets/deletejobidconfirm.html" %}
{% endif %}
{% include "widgets/labelconfirm.html" %}

{% endblock %}

{% block pagejs %}
  {% include "storage/storage.js" %}
{% endblock %}
