[Unit]
Description=IBAdmin Collector Daemon
After=network.target
Requires=postgresql.service

[Service]
Type=simple
User=bacula
Group=bacula
ExecStart=/opt/ibadmin/utils/ibadstatd.py -f start
ExecStop=/opt/ibadmin/utils/ibadstatd.py stop
PIDFile=/tmp/ibadstatd.pid

[Install]
WantedBy=default.target
