.content-alert {
  position: relative;
  padding: 15px 15px 0 15px;
}
.content-alert > h1 {
  margin: 0;
  font-size: 24px;
}
.content-alert > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.alert {
  margin-bottom: 5px;
}
.table tbody>tr>td.vertical-align{
    vertical-align: middle;
}
.register-box {
  width: 600px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.input-group-btn:last-child > .form-control {
  margin-left: -1px;
  width: auto;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
.text-white {
    color: #FFFFFF; !important;
}
.storage-media-type > .badge {
  margin-right: 10px;
  font-size: 14px;
  position: relative;
  top: -3px;
}
.form-group.has-success .select2-selection {
  border-color: #00a65a;
  box-shadow: none;
}
.form-group.has-error .select2-selection {
  border-color: #dd4b39;
  box-shadow: none;
}
span.info-box-text.label {
  margin-top: 12px;
}
.datepicker-inline {
  width: 100%;
}
.datepicker table {
  width: 100%;
}
.jstree-anchor > span.badge {
  margin-bottom: 3px;
}
ul.jstree-container-ul.jstree-children {
  max-height: 800px;
  overflow: auto;
}
.daemonlogs {
  max-height: 600px;
  overflow-y: auto;
}
.form-horizontal.form-condensed {
  margin-top: 12px;
}
.modal-dialog {
  top: 150px;
}