[% contentheader='Jobs' %]
[% PROCESS pages/head.html %]
[% INCLUDE widgets/jobstatus.html %]
<div class="row">
  [%# <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> %]
  <div class="col-xs-12">
    <div class="box box-success">
      <div class="box-header">
        <i class="fa fa-plus"></i>
        <h3 class="box-title">Add New SQL Server Backup</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" id="addform" method="post" action="[% c.uri_for('addsqldo') %]">
        <div class="box-body">
        [% INCLUDE widgets/formname.html %]
        [% INCLUDE widgets/formappname.html AppNameValue='SQL Server' AppNameIcon='fa-database' %]
        [% INCLUDE widgets/formjobretention.html %]
        [% INCLUDE widgets/formclientsel.html %]
        [% INCLUDE widgets/formstoragesel.html %]
        [% INCLUDE widgets/formschedule.html dlevelincr=1 %]
        </div><!-- /.box-body -->
        <div class="box-footer">
          <div class="row">
           <div class="col-lg-12">
              <button type="submit" value="1" class="btn btn-app" name="add"><!-- pull-right -->
                <i class="glyphicon glyphicon-plus"></i>Add
              </button>
              <button type="submit" value="1" class="btn btn-app cancel" name="cancel">
                <i class="glyphicon glyphicon-remove"></i>Cancel
              </button>
           </div>
          </div>
        </div>
      </form>
    </div><!-- /.box -->
  </div>
</div>
[% pagecustomjs = 'job/addsql.js.html' %]
[% PROCESS pages/tail.html %]
