{% extends "pages/base.html" %}
{% block content %}
{% include "widgets/jobstatus.html" %}
<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-th-list"></i>
    <h3 class="box-title">Defined Jobs</h3>
    <div class="box-tools pull-right">
      {% include "widgets/helpbutton.html" with box=1 %}
      {% include "widgets/refreshbutton.html" with box=1 %}
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="jobslist" class="table table-bordered table-striped">
        <thead>
        {% include "jobs/defined.legend.html" %}
        </thead>
        <tfoot>
        {% include "jobs/defined.legend.html" %}
        </tfoot>
      </table>
    </div>
  </div><!-- /.box-body -->
  <div class="box-footer">
    <div class="row">
      <div class="col-sm-10 center-block">
        <a class="btn btn-app" href="{% url 'jobsaddfiles' %}"><i class="fa fa-plus"></i>Files Backup</a>
        <a class="btn btn-app" href="{% url 'clientsdefined' %}"><i class="fa fa-laptop"></i>Clients list</a>
        <a class="btn btn-app" href="{% url 'storagedefined' %}"><i class="fa fa-database"></i>Storage list</a>
      </div>
    </div>
  </div>
</div><!-- /.box -->
{% include "widgets/runconfirm.html" %}
{% include "widgets/deletejobconfirm.html" %}
{% endblock %}

{% block pagejs %}
  {% include "jobs/defined.js" %}
{% endblock %}
