{% extends "pages/base.html" %}
{% block content %}
{% include "widgets/jobstatus.html" %}
<div class="box box-success">
  <div class="box-header">
    <i class="fa fa-check-circle"></i>
    <h4 class="box-title">Finished Backup Jobs</h4>
    <div class="box-tools pull-right">
      {% include "widgets/helpbutton.html" with box=1 %}
      {% include "widgets/refreshbutton.html" with box=1 %}
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="jobsfinished" class="table table-bordered table-striped table-hover">
        <thead>
        {% include "jobs/finished.legend.html" %}
        </thead>
        <tfoot>
        {% include "jobs/finished.legend.html" %}
        </tfoot>
      </table>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->
{% include "widgets/deletejobidconfirm.html" %}
{% endblock %}

{% block pagejs %}
  {% include "jobs/finished.js" %}
{% endblock %}
