{% extends "pages/base.html" %}
{% load ibadtexts %}
{% load ibadcolors %}

{% block contentwidget %}
{% include "widgets/jobstatus.html" %}
{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-cubes"></i>
    <h4 class="box-title">Job Info</h4>
    {% include "widgets/helpbutton.html" with box=0 %}
  </div><!-- /.box-header -->
  <div class="box-body no-padding">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Job Name</th>
          <th class="text-center">Type</th>
          <th>Client</th>
          <!-- <th>Application</th> -->
          {% if Job.Type == 'Backup' %}<th>Retention</th>{% endif %}
          {% if Job.Storage %}<th>Storage</th>{% endif %}
          <th>Schedule</th>
          {% if Job.Type == 'Backup' %}<th>Level</th>{% endif %}
          {% if Job.Type == 'Admin' or Job.Type == 'Restore' %}<th>Description</th>{% endif %}
        </tr>
        <tr>
          <td>{{ Job.Name }}</td>
          <td class="text-center" style="width: 50px"><span class="badge {{ Job.Type|jobtypebgcolor }}">{{ Job.Type }}</span></td>
          <td>{% if Job.Client %}<a href="{% url 'clientsinfo' Job.Client %}">{{ Job.Client }}</a>{% else %}<i>Internal</i>{% endif %}</td>
          {% if Job.Type == 'Backup' %}<td>{{ Job.Pool|retentiontext }}</td>{% endif %}
          {% if Job.Storage %}<td><a href="{% url 'storageinfo' Job.Storage %}">{{ Job.Storage }}</a></td>{% endif %}
          <td>{% if Job.Enabled == 'No' %}<span class="label bg-red">Disabled by user</span>
            {% elif Job.Scheduleparam %}{{ Job.Scheduleparam|scheduletext }} at {{ Job.Scheduletime }}
            {% else %}<i>Disabled</i>{% endif %}</td>
          {% if Job.Type == 'Backup' %}<td><span class="badge {{ Job.Level|joblevelbgcolor:Job.Type }} text-center">{{ Job.Level|jobleveltext }}</span></td>{% endif %}
          {% if Job.Type == 'Admin' or Job.Type == 'Restore' %}<td>{{ Job.Descr }}</td>{% endif %}
        </tr>
      </table>
    </div>
    {% if Job.Type != 'Admin' and Job.Type != 'Restore' %}
    <div class="table-responsive">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <table class="table">
            <tr>
              <th>Application</th>
              <th>Description</th>
              <th class="text-center">Options</th>
            </tr>
            <tr>
              <td><span class="badge {{ Job.JobDefs|jdappcolor }}">{{ Job.JobDefs|jdapptext }}</span></td>
              <td>{{ Job.Descr }}</td>
              <td class="text-center">
                {% if FSData.Options %}
                {% for o in FSData.Options %}
                  {% if o.name == 'Dedup' %}
                    <span class="label bg-maroon"><i class="fa fa-cubes"></i> Client deduplication</span>
                  {% endif %}
                  {% if o.name == 'Compression' %}
                    <span class="label bg-purple"><i class="fa fa-archive"></i> Client compression {{ o.value }}</span>
                  {% endif %}
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
{% if FSData.Include or FSData.FS or FSData.VMS %}
  </div>
  <div class="box-body">
    <div class="row">
      {% include 'widgets/fsdatainclude.html' %}
    </div>
  </div>
  <div class="box-body no-padding">
{% endif %}
    <hr>
    <div class="row">
      <div class="col-sm-12 center-block">
{% if perms.jobs.run_jobs %}
        {% if Job.Type != 'Restore' %}<a class="btn btn-app" data-toggle="modal" data-target="#runjobconfirm" data-name="{{ Job.Name }}" data-url="{% url 'jobsrun_rel' %}"><i class="fa fa-play"></i>Run</a>{% endif %}
{% endif %}
{% if perms.jobs.restore_jobs %}
        {% if Job.Type == 'Backup' %}<a class="btn btn-app" href="{% url 'restorejob' Job.Name %}"><i class="fa fa-cloud-upload"></i>Restore</a>{% endif %}
{% endif %}
{% if not Job.InternalJob %}
  {% if perms.jobs.change_jobs %}
        <a href="{% url 'jobsedit' Job.Name %}" class="btn btn-app"><i class="fa fa-wrench"></i>Edit</a>
  {% endif %}
  {% if perms.jobs.delete_jobs %}
        <a class="btn btn-app" data-toggle="modal" data-target="#deletejobconfirm" data-name="{{ Job.Name }}" data-url="{% url 'jobsdelete_rel' %}"><i class="fa fa-trash"></i>Delete</a>
  {% endif %}
{% endif %}
{% if perms.stats.view_job_stats %}
        {% if Job.Type != 'Admin' %}<a href="{% url 'statsjob' Job.Name %}" class="btn btn-app"><i class="fa fa-bar-chart"></i>Statistics</a>{% endif %}
{% endif %}
{% if perms.jobs.advanced_jobs %}
        {% if Job.Type != 'Restore' %}<a href="{% url 'jobsadvanced' Job.Name %}" class="btn btn-app"><i class="fa fa-cogs"></i>Advanced</a>{% endif %}
{% endif %}
      </div>
    </div>
    <div class="box-group" id="jobhistory">
      <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
      <div class="panel box box-primary">
        <div class="box-header with-border">
          <h2 class="box-title">
            <i class="fa fa-history"></i>
            <a data-toggle="collapse" data-parent="#jobhistory" href="#One">Job History</a>
          </h2>
          {% include "widgets/refreshbutton.html" %}
        </div>
        <div id="One" class="panel-collapse collapse in">
          <div class="box-body">
            <div class="table-responsive">
              <table id="jobshistory" class="table table-bordered table-striped table-hover">
                <thead>
                {% include "jobs/job.legend.html" %}
                </thead>
                <tfoot>
                {% include "jobs/job.legend.html" %}
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->
{% include "widgets/runconfirm.html" %}
{% include "widgets/deletejobidconfirm.html" %}
{% include "widgets/cancelconfirm.html" %}
{% include "widgets/stopconfirm.html" %}
{% include "widgets/deletejobconfirm.html" %}
{% endblock %}

{% block pagejs %}
  {% include "jobs/job.js" %}
{% endblock %}
