{% extends "pages/base.html" %}
{% load ibadtexts %}
{% load ibadcolors %}
{% block content %}
{% include "widgets/jobstatus.html" %}
<div id="statusheaderbox" class="box box-info"><!-- {{ Job.Status|jobstatusboxcolor:Job.Errors }} -->
  <div class="box-header">
    <i class="fa fa-server"></i>
    <h4 class="box-title">Backup Job Status</h4>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="modal"><i class="fa fa-question" data-toggle="tooltip" data-original-title="Help"></i></button>
      {% include "widgets/refreshbutton.html" with id='statusrefresh' box=1 %}
    </div>
  </div><!-- /.box-header -->
  <div class="box-body no-padding">
    <div id="jobsstatusheader" class="table-responsive">
      {% include 'widgets/statusjobwidget.html' %}
    </div>
    <hr>
    {% include "widgets/commentwidget.html" %}
    <div class="row">
      <div class="col-sm-10 center-block">
        <a href="{% url 'jobsinfo' Job.Name %}" class="btn btn-app"><i class="fa fa-info-circle"></i>Info</a>
        {% if Job.Type != 'D' %}<a href="{% url 'statsjob' Job.Name %}" class="btn btn-app"><i class="fa fa-bar-chart"></i>Statistics</a>{% endif %}
        <a class="btn btn-app" data-toggle="modal" data-target="#canceljobconfirm" data-name="{{ Job.Name }}" data-jobid="{{ Job.JobId }}" data-url="{% url 'jobsidcancel_rel' %}"><i class="fa fa-minus-circle"></i>Cancel</a>
        <a class="btn btn-app" data-toggle="modal" data-target="#stopjobconfirm" data-name="{{ Job.Name }}" data-jobid="{{ Job.JobId }}" data-url="{% url 'jobsidstop_rel' %}"><i class="fa fa-pause"></i>Stop</a>
        <a class="btn btn-app" data-toggle="modal" data-target="#commentedit" data-name="{{ Job.Name }}" data-jobid="{{ Job.JobId }}"><i class="fa fa-comment-o"></i>Comment</a>
      </div>
    </div>
    <div class="box-group" id="jobinfo">
      {% include "widgets/joblog.html" %}
      {% include "widgets/datalocation.html" %}<!-- with volumeheader="Current volume" -->
    </div>
  </div><!-- /.box-body -->
  <div id="jobstatusloading" class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div><!-- /.box -->
{% include "widgets/cancelconfirm.html" %}
{% include "widgets/stopconfirm.html" %}
{% include "widgets/commentedit.html" with id='commentedit' %}
{% endblock %}

{% block pagejs %}
  {% include "jobs/status.js" %}
{% endblock %}
