{% extends "pages/base.html" %}

{% block contentwidget %}
{% include "widgets/jobstatus.html" %}
{% endblock %}

{% block content %}
<div class="box box-warning">
  <div class="box-header">
    <i class="fa fa-exclamation-circle"></i>
    <h4 class="box-title">Backup Jobs with warnings</h4>
    <div class="box-tools pull-right">
      {% include "widgets/helpbutton.html" with box=1 %}
      {% include "widgets/refreshbutton.html" with box=1 %}
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="jobswarning" class="table table-bordered table-striped">
        <thead>
        {% include "jobs/warning.legend.html" %}
        </thead>
        <tfoot>
        {% include "jobs/warning.legend.html" %}
        </tfoot>
      </table>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->
{% include "widgets/deletejobidconfirm.html" %}
{% include "widgets/restartincompleteconfirm.html" %}
{% endblock %}

{% block pagejs %}
  {% include "jobs/warning.js" %}
{% endblock %}
