{% extends "initial/base.html" %}
{% block content %}
{% load static %}
    <div class="register-box box">
      <div class="register-logo">
        <a href="http://www.inteosbackup.pl/"><img src="{% static 'ibadmin.png' %}"/><b>IBAdmin</b></a>
      </div>
      <div class="register-box-body">
        <p class="login-box-msg">Initial configuration</p>
        {% if displayalert %}
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger alert-dismissible">
              <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
              <h4><i class="icon fa fa-ban"></i>{{ subject }}</h4>
              {{ message|safe }}
            </div>
          </div>
        </div>
        {% endif %}
        <form id="initsetup" method="post" action="{% url 'initialsetup' %}">
          {% csrf_token %}
          <div class="form-group has-feedback"> <!-- has-feedback -->
            {{ form.dirname }}
            <span class="fa fa-bank form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div class="form-group has-feedback">
            {{ form.descr }}
            <span class="fa fa-comment-o form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div class="form-group has-feedback">
            {{ form.email }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div class="form-group has-feedback">
            {{ form.admpass }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div class="form-group has-feedback">
            {{ form.admrpass }}
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div class="form-group has-feedback">
            {{ form.storage }}
          </div><!-- /.form-group -->
          <div id="divarchdir" class="form-group has-feedback">
            {{ form.archivedir }}
            <span class="glyphicon glyphicon-folder-close form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div id="divdedupidxdir" class="form-group has-feedback" style="display: none;">
            {{ form.dedupidxdir }}
            <span class="fa fa-indent form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div id="divdedupdir" class="form-group has-feedback" style="display: none;">
            {{ form.dedupdir }}
            <span class="fa fa-cubes form-control-feedback"></span>
          </div><!-- /.form-group -->
          <div class="row">
            <div class="col-xs-4 pull-right">
              <button id="sbutton" type="submit" name="save" value="1" class="btn btn-primary btn-block btn-flat"{% if disableall %} disabled{% endif %}>Save</button>
            </div><!-- /.col -->
          </div>
        </form>
      </div><!-- /.form-box -->
      <div id="initialwait" class="overlay" style="display: none;">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div><!-- /.register-box -->
{% endblock %}
{% block pagejs %}
  {% include "initial/index.js" %}
{% endblock %}
