{% extends "pages/base.html" %}
{% load ibadtexts %}
{% load ibadcolors %}

{% block contentwidget %}
{% include "widgets/osstatus.html" with osstatusvis=1 %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <i class="fa fa-cogs"></i>
        <h3 class="box-title">Advanced properities for {{ Client.Name }}</h3>
        {% include "widgets/helpbutton.html" with box=0 %}
      </div><!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" id="editform" method="post" action="{% url 'clientsstdadvanced' form.name.value %}">
        {% csrf_token %}
        {{ form.backurl }}
        <div class="box-body">
        {{ form.name }}
        {{ form.enabled }}
          <div id="{{ form.genpass.id_for_label }}" class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox icheck">
                {{ form.genpass }}
                <label>{{ form.genpass.label }}</label>
              </div>
            </div>
          </div><!-- /.form-group -->
        </div><!-- /.box-body -->
        <div class="box-footer">
          <div class="row">
           <div class="col-lg-12">
              <button type="submit" value="1" class="btn btn-app" name="save"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
              <button type="submit" value="1" class="btn btn-app cancel" name="cancel"><i class="glyphicon glyphicon-remove-circle"></i>Cancel</button>
           </div>
          </div>
        </div>
      </form>
    </div><!-- /.box -->
  </div>
</div>
{% endblock %}

{% block pagejs %}
  {% include "clients/stdadvanced.js" %}
{% endblock %}